.status-card{

    background:white;

    border-radius:15px;

    padding:25px;

    margin-bottom:25px;

    box-shadow:0 8px 20px rgba(0,0,0,.08);

}

.status-card h2{

    margin-bottom:15px;

}

.status-card p{

    margin:10px 0;

    font-size:18px;

}